<li class="d-flex">
  <div class="d-flex flex-column align-items-center">
    Name: <%= user.name %>
    <span class="profile-link">
      <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    </span>
  </div>
  <div>
    <% if (current_user.friend_requests.include?(user)) %>
      <%= button_to "Invite to friendship", friendships_path(invited_user_id: user.id), class: 'w-auto mx-2' %>
    <% end %>
  </div>
</li>