<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if !(current_user.friend? @user) %>
    <%= button_to "Invite to friendship", friendships_path(invited_user_id: @user.id) %>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
