<section class="users-section">
    <ul class="users-list">
        <% current_user.friend_requests.each do |friend_request_user| %>
            <li class="d-flex">
                <div class="d-flex align-items-center">
                    <%= friend_request_user.name %>
                </div>
                <div>
                    <%= button_to "Accept friendship", friendship_path(friend_request_user.id), :method => :patch, class: 'w-auto mx-2' %>
                    <%= button_to "Reject friendship", friendship_path(friend_request_user.id), :method => :delete, class: 'w-auto mx-2' %>
                </div>
            </li>
        <% end %>
    </ul>
</section>